h1 {
    font-family: "Freestyle Script";
    font-size: 50pt;
    color: #F6F6F6;
    text-align: center;
    padding-top: 100px;
}

h2 {
    font-family: "Freestyle Script";
    font-size: 30pt;
    text-align: center;
    color: #F6F6F6;
    text-decoration: none;
}